{% load static %}
<div class="toast-container position-fixed bottom-0 end-0 p-3 toast-stack">
    {% for message in messages %}
        <div class="toast {% if message.tags %}{{ message.tags }}{% endif %} toast-lg" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
            data-bs-delay="5000" {# Set the delay to 5000 milliseconds (5 seconds) #}
            style="{% if 'success' in message.tags %}background-color: rgba(40, 167, 69, 0.5);{% endif %}
                   {% if 'warning' in message.tags %}background-color: rgba(255, 193, 7, 0.5);{% endif %}
                   {% if 'danger' in message.tags or 'error' in message.tags %}background-color: rgba(220, 53, 69, 0.5);{% endif %}
                   {% if 'info' in message.tags %}background-color: rgba(0, 123, 255, 0.5);{% endif %}">
            <div class="toast-header">
                {% if 'success' in message.tags %}
                    <i class="bi bi-check-circle-fill text-success me-2"></i>
                    <strong class="me-auto">Success</strong>
                {% elif 'warning' in message.tags %}
                    <i class="bi bi-exclamation-triangle-fill text-warning me-2"></i>
                    <strong class="me-auto">Warning</strong>
                {% elif 'danger' in message.tags or 'error' in message.tags %}
                    <i class="bi bi-x-circle-fill text-danger me-2"></i>
                    <strong class="me-auto">Error</strong>
                {% elif 'info' in message.tags %}
                    <i class="bi bi-info-circle-fill text-info me-2"></i>
                    <strong class="me-auto">Info</strong>
                {% else %}
                    <i class="bi bi-info-circle-fill text-info me-2"></i>
                    <strong class="me-auto">Message</strong>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body fs-6"> {# Use fs-5 or other font size class #}
                {{ message }}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    const toastTriggers = document.querySelectorAll('.toast')
    toastTriggers.forEach(trigger => {
        const toastInstance = new bootstrap.Toast(trigger)
        toastInstance.show()
    })
</script>